<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSMicrophoneUsageDescription</key>
	<string>音声入力を記録するためにマイクへのアクセスが必要です。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>音声を文字に変換するために音声認識機能へのアクセスが必要です。</string>
</dict>
</plist>
